@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body {
  margin: 0;
  font-family: 'Poppins', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: transparent url(https://www.fendi.com/it/ck-static/vertigo_background_sx.svg) 0% 0% repeat padding-box;
}


html, body {
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.toast-buttons {
  display: flex;
}

.toast-buttons button {
  color: white;
  font-size: 14px;
  font-weight: bold;
  width: 100px;
  height: 50px;
  margin: 0 10px;
  border: none;
  outline: none;
}

.select {
  display: flex;
  width: 30%;
  margin-top: 10px;
}

.position-select {
  background-color: inherit;
  color: #fff;
  width: 100%;
  height: 30px;
  font-size: 16px;
}

.success {
  background-color: #5cb85c;
}

.danger {
  background-color: #d9534f;
}

.info {
  background-color: #5bc0de;
}

.warning {
  background-color: #f0ad4e;
}


.Logo {
  background-image: url(./assets/logo.png);
}

.btn-primary {
  color: #fff;
  background-color: #A87A64 !important;
  border-color: #A87A64 !important;
}

.btn-primary:hover {
  color: #C1536B !important;
  background-color: #fff !important;
  border: #C1536B 1px solid!important;
}

.card-title {
  color: #a87a63 !important; 
  font-weight: bold !important;
}

.item-price {
  color: #c1536b;
    font-weight: bold;
    font-size: 18px;
    font-family: system-ui;
}

.carousel-caption {
  bottom: 120px !important;
}


.carousel-caption h3 {
  font-size: 4.4rem;
}
/* h2 {
  border-bottom: 1px solid #d9d9d9;
    margin-bottom: 20px;
}

h2:after {
    content: "";
    width: 115px;
    height: 4px;
    background-color: #c1536b;
    position: absolute;
    bottom: -2px;
    right: 0;
    transition: all .3s ease-out;
} */




